<link rel="stylesheet" href="/css/header.css">

<header>
    <a href="/"><img width="150" src="/img/logo.png"></a>
    <nav>
        <div>
            <a href="/">Home</a>
            <a href="https://www.alyasavillage.com/alyasa-village-story/">Our Story</a>
            <a href="https://www.alyasavillage.com/blog/">Blog</a>
        </div>
        <div>
            <a href="/#venues" aria-current="page">Venues</a>
            <a href="/accommodations">Accommodations</a>
            <a href="https://www.alyasavillage.com/activities/">Activities</a>
            <a href="https://www.alyasavillage.com/special-occasions/">Special Occasions</a>
            <a href="https://www.alyasavillage.com/nightlife/">Nightlife</a>
        </div>
    </nav>
</header>