<link rel="stylesheet" href="/css/header.css">

<header>
    <a href="/" aria-label="Alyasa Village Home"><img width="150" src="/img/logo.avif" alt="Alyasa Village Logo"></a>
    <nav>
        <div>
            <a href="/">Home</a>
            <a href="/story/">Our Story</a>
            <a href="/blog/">Blog</a>
        </div>
        <div>
            <a href="/#venues" aria-current="page">Venues</a>
            <a href="/accommodations">Accommodations</a>
            <a href="/activities/">Activities</a>
            <a href="/#occasions">Special Occasions</a>
            <a href="/gallery/">Gallery</a>
        </div>
    </nav>
</header>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const navLinks = document.querySelectorAll("nav a");
    navLinks.forEach(link => {
        if (
            link.getAttribute("href") !== "/" &&
            (link.href === window.location.href ||
            window.location.pathname.startsWith(link.getAttribute("href")))
        ) {
            link.classList.add("current");
        }
    });
});
</script>