<%- include('partials/s-top') %>
    <div
        style="background-image: url(/img/banners/activities.avif); background-size: cover; background-position: center;">
        <%- include('partials/header') %>
    </div>
    <% if (typeof success !=='undefined' && success) { %>
        <p class="sucess" style="color: #28a745;">Message sent successfully!</p>
        <% } else if (typeof success !=='undefined' && !success) { %>
            <p class="sucess" style="color: #dc3545;">Failed to send message. Please try again.</p>
            <% } %>
                <div class="contact-page">
                    <div class="contact-text">
                        <h2>Get in Touch</h2>
                        <p>If you have any questions, inquiries or suggestions, please fill out the form.</p>
                        <p>We will get back to you soon.</p>

                        <div class="career">
                            <p><strong>Join our team</strong></p>
                            <p>If you’re enthusiastic about joining our dynamic team, please send an email expressing
                                your
                                interest.
                            </p>
                            <a href="mailto:hr@alyasavillage.com">hr@alyasavillage.com</a>
                        </div>
                    </div>
                    <form action="/contact" method="POST">
                        <div>
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" required placeholder="Enter your name">
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" required placeholder="Enter your email">
                        </div>
                        <div>
                            <label for="message">Message</label>
                            <textarea id="message" name="message" required placeholder="Type your message"></textarea>
                        </div>
                        <button type="submit">Send Message</button>
                    </form>
                </div>
                <div class="contact-page">
                    <div class="contact-info">
                        <div>
                            <p>Address</p>
                            <a href="https://maps.app.goo.gl/3CZ36SiP7vrUv8Mm6">Saqi Rechmaiya, Jbeil, Lebanon </a>
                            <p class="titre_">Phone</p>
                            <a href="tel:+961 71 71 58 71">+961 71 71 58 71</a>
                            <p class="titre_">Email Address</p>
                            <a href="mailto:hello@alyasavillage.com">hello@alyasavillage.com</a>
                        </div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3400.4323887253117!2d35.7840825!3d34.1576584!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f57b4172b2865%3A0x756a6abff0809670!2sAlyasa%20Village!5e1!3m2!1sen!2slb!4v1755588434082!5m2!1sen!2slb"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <%- include('partials/footer') %>
                    <%- include('partials/s-bottom') %>