<%- include('partials/s-top') %>
    <link rel="stylesheet" href="/css/activities.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .intro {
            color: white;
            padding: 20px;
            margin: 0 auto;
            max-width: 800px;
            text-align: center;
        }

        section {
            max-width: 1000px;
            margin: 0 auto;
            padding-bottom: 40px;
        }

        .tabs {
            display: flex;
            justify-content: center;
            margin: 20px 0;
            gap: 20px;
        }

        .tabs button {
            background: none;
            border: 3px solid white;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
            transition: background 0.3s;
            font-weight: bold;
        }

        .tab {
            background-color: white;
            padding: 30px;
            border-radius: 3px;
        }

        .tab img {
            width: 60%;
            margin: 0 auto;
            display: block;
            margin-top: 20px;
        }

        .active {
            background-color: white !important;
            color: black !important;
        }
    </style>


    <div
        style="background-image: url(https://www.alyasavillage.com/wp-content/uploads/2023/12/0Q2A9402-2-2.jpeg); min-height: 100vh; background-size: cover; background-position: center;">
        <%- include('partials/header') %>

            <h1>Our Story</h1>
            <p class="intro">Discover a one-of-a-kind venue in the region! Alyasa Village boasts beautiful
                weather at an altitude of
                1100m, just 30 minutes away from Byblos. Our unique setting includes a historic church neighbored by old
                oak trees, dedicated to the Prophet Alishaa.</p>

            <section>
                <div class="tabs">
                    <button class="active">ABOUT THE PROPHET ALISHAA</button>
                    <button>ABOUT ALYASA VILLAGE VENUE</button>
                </div>
                <div class="tab">
                    <p>
                        The Church of Saint Alishaa, one of Lebanon’s oldest churches dedicated to the prophet, dates
                        back to 1151 AD. Alishaa, a disciple of the prophet Elijah, hails from the town of Abel Mehola,
                        believed to be today’s Ain Hilweh. Notably, Elisha’s journey included miracles such as parting
                        the Jordan River, purifying tainted spring water in Jericho, and providing abundant food in Baal
                        Shalishah. He healed the Syrian army commander Naaman of leprosy and passed away at the age of
                        102, with his burial in Samaria 847 years prior to the birth of Jesus Christ.
                    </p>
                    <p>In the modern era, the El Khazen family, has taken on the responsibility of preserving and caring
                        for the Church of Saint Alishaa. Under El Khazen family leadership, the church has undergone
                        meticulous restoration, preserving its historical and spiritual significance for future
                        generations. Beyond restoration, El Khazen family fosters a vibrant sense of community, hosting
                        annual events that unite believers in faith & fellowship.</p>
                    <img
                        src="https://www.alyasavillage.com/wp-content/uploads/2023/11/0Q2A9410-1-scaled-e1702036151224.avif">
                </div>

                <div class="tab" style="display: none;">
                    <p>Crafted with meticulous attention to detail, Alyasa Village reflects the unwavering commitment of
                        the El Khazen family to Lebanese heritage & community development. The venue boasts a range of
                        amenities including lodging spaces, a gym, sports arenas, and a pool, providing guests with a
                        luxurious yet authentic Lebanese experience.</p>
                    <p>
                        The vision behind Alyasa Village was to build upon the rich history of joyful events centered
                        around the church while elevating the experience with modern amenities and a focus on hygiene
                        standards. Whether guests seek relaxation in the steam room or a refreshing dip in the nested
                        pool, Alyasa Village ensures a high standard of comfort and luxury.</p>
                    <p>
                        Beyond the confines of the venue, visitors are invited to explore the surrounding area,
                        including the historic cedar forest reserve in the town of JAJ. Here, hiking trails offer
                        opportunities to connect with nature and immerse oneself in Lebanon’s natural beauty.
                    </p>
                    <img src="https://www.alyasavillage.com/wp-content/uploads/2023/11/0Q2A9612.avif">

                </div>

            </section>
    </div>

    <script>
        const buttons = document.querySelectorAll('.tabs button');
        const tabs = document.querySelectorAll('.tab');

        buttons.forEach((button, index) => {
            button.addEventListener('click', () => {
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');

                tabs.forEach(tab => tab.style.display = 'none');
                tabs[index].style.display = 'block';
            });
        });
    </script>




    <%- include('partials/footer') %>
        <%- include('partials/s-bottom') %>