<%- include('partials/s-top') %>
    <div
        style="background-image: url('/img/story/background.avif'); min-height: 100vh; background-size: cover; background-position: center;">
        <%- include('partials/header') %>
            <br><br>

            <p class="intro">
                Discover a one-of-a-kind venue in the region! Alyasa Village boasts beautiful weather at an altitude of
                1100m, just 30 minutes away from Byblos. Our unique setting includes a historic church neighbored by old
                oak trees, dedicated to the Prophet Alishaa.
            </p>

            <!-- Radios placed before section so ~ selector works -->
            <input type="radio" name="tabset" id="tab1" checked>
            <input type="radio" name="tabset" id="tab2">

            <section>
                <div class="tabs">
                    <label for="tab1">About the Prophet Alishaa</label>
                    <label for="tab2">About Alyasa Village</label>
                </div>

                <div class="tab" id="content1">
                    <p>
                        The Church of Saint Alishaa, one of Lebanon’s oldest churches dedicated to the prophet, dates
                        back to 1151 AD. Alishaa, a disciple of the prophet Elijah, hails from the town of Abel Mehola,
                        believed to be today’s Ain Hilweh. Notably, Elisha’s journey included miracles such as parting
                        the Jordan River, purifying tainted spring water in Jericho, and providing abundant food in Baal
                        Shalishah. He healed the Syrian army commander Naaman of leprosy and passed away at the age of
                        102, with his burial in Samaria 847 years prior to the birth of Jesus Christ.
                    </p>
                    <p>
                        In the modern era, the El Khazen family, has taken on the responsibility of preserving and
                        caring
                        for the Church of Saint Alishaa. Under El Khazen family leadership, the church has undergone
                        meticulous restoration, preserving its historical and spiritual significance for future
                        generations. Beyond restoration, El Khazen family fosters a vibrant sense of community, hosting
                        annual events that unite believers in faith & fellowship.
                    </p>
                    <img src="/img/story/church.avif" alt="Church of Saint Alishaa Alyasa Village Lebanon">
                </div>

                <div class="tab" id="content2">
                    <p>
                        Crafted with meticulous attention to detail, Alyasa Village reflects the unwavering commitment
                        of
                        the El Khazen family to Lebanese heritage & community development. The venue boasts a range of
                        amenities including lodging spaces, a gym, sports arenas, and a pool, providing guests with a
                        luxurious yet authentic Lebanese experience.
                    </p>
                    <p>
                        Alyasa Village was to build upon the rich history of joyful events centered around the church
                        while
                        elevating the experience with modern amenities and a focus on hygiene standards. Whether guests
                        seek
                        relaxation in the steam room or a refreshing dip in the nested pool, Alyasa Village ensures a
                        high
                        standard of comfort and luxury.
                    </p>
                    <p>
                        Beyond the confines of the venue, visitors are invited to explore the surrounding area,
                        including
                        the historic cedar forest reserve in the town of JAJ. Here, hiking trails offer opportunities to
                        connect with nature and immerse oneself in Lebanon’s natural beauty.
                    </p>
                    <img src="/img/story/alyasa.avif" alt="Alyasa Village Lebanon Overview">
                </div>
            </section>
    </div>

    <%- include('partials/footer') %>
        <%- include('partials/s-bottom') %>