<%- include('partials/s-top') %>
    <div
        style="background-image: url(/img/banners/accommodation.jpg); min-height: 45vh; background-size: cover; background-position: center;">
        <%- include('partials/header') %>
    </div>

    <%- include('partials/footer') %>