header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-top: 20px;
    color: var(--white);
}

header nav {
    width: -webkit-fill-available;
    text-align: right;
    margin-left: 50px;
}

header nav>div:first-child {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid var(--light-white);
}

header nav>div:first-child a {
    margin-right: 20px;
}

header nav>div:nth-child(2) {
    padding-top: 7px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header nav>div:nth-child(2) a {
    border: 1px solid var(--white);
    border-radius: 30px;
    padding: 5px 15px;
    margin: 5px;
}

header nav>div:nth-child(2) a.current {
    background-color: var(--white);
    color: var(--black);
}

header nav>div:first-child a.current {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

header nav>div:nth-child(2) a:hover {
    background-color: var(--white);
    color: var(--black);
}

@media (max-width: 1000px) {
    header {
        align-items: flex-start;
    }
}