article {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.thumb {
    width: 100%;
    height: auto;
    border-radius: 15px;
    aspect-ratio: 6/3;
    object-fit: cover;
    object-position: center;
}

section {
    display: flex;
    gap: 30px;
    padding: 60px;
}

main {
    flex: 3;
}

aside {
    flex: 1;
}

.title {
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 20px;
}

.title::after {
    content: "";
    border-top: 1px solid #9E9E9E;
    width: 100%;
    margin-left: 25px;
}

.aside-single {
    display: flex;
    gap: 15px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.aside-single:hover {
    transform: translateY(-5px);
}

.aside-single img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.aside-single span {
    color: var(--gray);
}

.aside-single p {
    font-weight: bold;
}

article img {
    max-width: 100%;
}

.newsletter {
    background-color: #e3e2e2;
    padding: 15px;
    border-radius: 10px;
}

.newsletter input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid gray;
}

.newsletter button {
    background-color: #1a1d1c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter>* {
    display: block;
    margin-bottom: 10px;

}

@media screen and (max-width: 950px) {
    section {
        flex-direction: column-reverse;
        padding: 20px 0;
    }

    main {
        order: 2;
    }

    aside {
        order: 1;
    }
}